[submodule "eMP-mainPage"]
	path = eMP-mainPage
	url = https://github.com/ZhangKeLiang0627/eMP-mainPage
[submodule "eMP-video"]
	path = eMP-video
	url = https://github.com/ZhangKeLiang0627/eMP-video
[submodule "eMP-picture"]
	path = eMP-picture
	url = https://github.com/ZhangKeLiang0627/eMP-picture
[submodule "eMP-music"]
	path = eMP-music
	url = https://github.com/ZhangKeLiang0627/eMP-music

[submodule "eMP-about"]
	path = eMP-about
	url = https://github.com/ZhangKeLiang0627/eMP-about
[submodule "eMP-documents"]
	path = eMP-documents
	url = https://github.com/ZhangKeLiang0627/eMP-documents.git
	branch = main
[submodule "eMP-settings"]
	path = eMP-settings
	url = https://github.com/ZhangKeLiang0627/eMP-settings.git
	branch = main
[submodule "eMP-tokenMonitor"]
	path = eMP-tokenMonitor
	url = https://github.com/ZhangKeLiang0627/eMP-tokenMonitor.git
	branch = main
[submodule "eMP-gba"]
	path = eMP-gba
	url = https://github.com/ZhangKeLiang0627/eMP-gba.git
	branch = main
[submodule "eMP-template"]
	path = eMP-template
	url = https://github.com/ZhangKeLiang0627/eMP-template.git
	branch = main
[submodule "eMP-serial"]
	path = eMP-serial
	url = https://github.com/ZhangKeLiang0627/eMP-serial.git
	branch = main
[submodule "eMP-nes"]
	path = eMP-nes
	url = https://github.com/ZhangKeLiang0627/eMP-nes.git
	branch = main
